@media only screen and (max-width:960px){
    label{
        font-size:32px;
    }
    .button span{
        font-size: 18px;
    }
    .sideBar{
        width:100vw;
    }
    @keyframes showBar {
        from {
            left: -120vw;
        }
        to {
            left: 0;
        }
    }

    @keyframes hideBar {
        from {
            left: 0;
        }
        to {
            left: -120vw;
        }
    }
    .sideBar {
        left: -120vw;
    }
    .showBar {
        animation-name: showBar;
        animation-duration: 1s;
        left: 0 !important;
    }

    .hideBar {
        animation-name: hideBar;
        animation-duration: 1s;
        left: -120vw !important;
    }
}
